@import "tailwindcss";
@import "tw-animate-css";

:root {
  --color-primary: #1c1c22;
  --color-accent: #00ff99;
  --color-accent-hover: #00e187;
  --font-primary: 'JetBrains Mono', monospace;
}

@layer base {
  body {
    background-color: var(--color-primary);
    color: white;
    font-family: var(--font-primary);
  }
}

.text-accent {
  color: var(--color-accent);
}
.bg-accent {
  background-color: var(--color-accent);
}
.bg-accent:hover {
  background-color: var(--color-accent-hover);
}
.text-accent:hover {
  color: var(--color-accent-hover);
}
